# IDE and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Data with large files
dataset/
datasets/

# MegEngine files
*.mge
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx
build/
source/reference/api/

# Sphinx Internationalization
*.pot
*.mo

# MacOS
.DS_Store
