# Cache key for GitHub Actions: 20210512

# MegEngine dependence
numpy>=1.18
opencv-python
pyarrow
requests
tabulate
tqdm
redispy
deprecated

# Sphinx,theme and extensions
sphinx
sphinx-intl
sphinxcontrib-mermaid
sphinx-copybutton
jieba
ipython
recommonmark
nbsphinx
beautifulsoup4

