# Cache key for GitHub Actions: 20210528

# MegEngine dependence
numpy>=1.18
opencv-python
pyarrow
requests
tabulate
tqdm
redispy
deprecated
mprop

# Sphinx,theme and extensions
sphinx
sphinx-intl
sphinxcontrib-mermaid>=0.7
sphinx-copybutton
jieba
ipython
recommonmark
nbsphinx
beautifulsoup4

