# Cache key for GitHub Actions: 20210506

# MegEngine dependence
numpy
opencv-python
pyarrow
requests
tabulate
tqdm
redispy
deprecated

# Sphinx and extensions
sphinx
sphinx-intl
sphinxcontrib-mermaid
sphinx-autodoc-typehints
sphinx-copybutton
jieba
ipython
recommonmark
nbsphinx

