{% extends "!layout.html" %}

{% set css_files = css_files + ["https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"] %}

{% block footer %}
<script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278730071&web_id=1278730071"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '4fafaee107fcc631f18b05f9d12ad9ca',
indexName: 'megengine',
inputSelector: '#search-input',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
{% endblock %}
